
@{
    ViewData["Title"] = "DeleteError";
}

<h1>DeleteError</h1>

<div>
    <h4>You can't delete this computer, as it has been assigned to an employee. Please return to the list of computers to continue.</h4>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
